<% layout("layouts/boilerplate") %>
<title>Department</title>
<link rel="stylesheet" href="/style/analytics/department.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js" integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="p-2 d-flex flex-wrap" id="topmenu">
    <h3 class="m-0 align-self-center d-inline text-center">Profit and loss statement by department</h3>
</div>
<div id="content-div" class="p-2">
    <div class="title">
        <form action="/analytics/departments" class="d-flex flex-wrap">
            <h4 class="d-inline-block mb-0 align-self-center text-center">Period selected</h4>
            <select class="form-select mx-2 shadow-none" aria-label="Default select example" name="year">
                <% for (let year=new Date().getFullYear()-5; year< new Date().getFullYear()+1; year++) {%>
                    <% if (year == new Date().getFullYear()) { %> 
                        <option selected value="<%=year%>"><%=year%></option>
                    <% } else { %>
                        <option value="<%=year%>"><%=year%></option>
                    <% } %>  
                <% } %>
            </select>
            <button class="btn" type="button" id="updateButton">Update</button>
        </form>
    </div>
    <div class="container graph-container mt-2">
        <div id="chart_legend" class="ms-auto me-auto"></div>
        <svg id="pie-chart" width = "100%" viewBox="0 0 500 500"></svg>
    </div>
  
</div>
 
<script>
    let queryResult = <%-JSON.stringify(queryResult)%>;
</script>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="/js/analytics/department.js"></script>