<% layout("layouts/boilerplate") %>
<title>User statistics</title>
<link rel="stylesheet" href="/style/analytics/userstats.css">
<div class="p-2 d-flex flex-wrap" id="topmenu">
    <h3 class="m-0 align-self-center d-inline text-center">User statistics</h3>
</div>
<div id="content-div" class="p-2">
        <div class="row justify-content-center flex-wrap">
            <div class="col col-lg-9"><h5>Number of postings by user</h5></div>
        </div>
        <div class="row justify-content-center flex-wrap">
            <div class="col col-lg-9 tablebox mb-4">
                <table id="postings-table">
                    <th>Postings rank</th>
                    <th>User name</th>
                    <th>User code</th>
                    <th>Grade</th>
                    <th>Documents loaded</th>
                    <th>Postings loaded</th>
                    <% for (let row of firstResults) {%> 
                        <tr>
                            <td><%= row.postings_rank %></td>
                            <td><%= row.fullname.slice(0,26) %></td>
                            <td><a href="<%=`/postings?glcode=&description=&startregdate=&endregdate=&starteffdate=&endeffdate=&costcenter=&docnum=&usercode=${row.user_code}&acccenter=&ordernum=&paymode=&supplcode=&countrycode=&fs_pos=`%>"><%= row.user_code %></a></td>
                            <td><%= row.grade_description.slice(0,21) %></td>
                            <td><%= Number(row.doc_count).toLocaleString("it-IT", {maximumFractionDigits:0}) %></td>
                            <td><%= Number(row.postings_count).toLocaleString("it-IT", {maximumFractionDigits:0}) %></td>
                        </tr>
                    <% } %> 
                </table>
            </div>
        </div>
        <div class="row justify-content-center flex-wrap">
            <div class="col col-lg-9"><h5>Postings by year</h5>
        </div>
        <div class="row justify-content-center flex-wrap">
            <div class="col col-lg-9 tablebox">
                <table class="mb-2" id="pivot-table">
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    let firstResults = <%-JSON.stringify(firstResults)%>;
    let secondResults = <%-JSON.stringify(secondResults)%>;
</script>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://d3js.org/d3-collection.v1.min.js"></script>
<script src="/js/analytics/userstats.js"></script>